.fondo {
    background:#303f9f;
}

.tamano-img{
    max-width: 40px;
    max-height: 40px;
}

.text-blanco{
    color: #f5f5f5!important;
}

.tamano-img-agregar {
    max-width: 55px;
    max-height: 55px;
}

.fondo-p{
    background-image: url("../FondoT.jpeg");
}

.barra-abajo{
    position:fixed;
    top: 93vh;
}

.barra-arriba{
    position:fixed;
    bottom: 93vh;
}