.text-azul{
    color: #303f9f!important;
    font-weight: 900;
  }
  .text-blanco{
    color: #f5f5f5!important;
    font-weight: 900;
  }
  .btn-azul{
    background:#303f9f!important;
  }
  .btn-outline-primary-azul{
    background: #ffffff!important;
    border-style: solid;
    border-color: #303f9f!important;
  }